<h3>Edit Your Gear List</h3>

<%= render partial: 'form', locals: { 
                              method: 'put', 
                              url: list_path(params[:id]),
                              submit_text: 'Update Gear List' } %>
