<% content_for :sidebar do %>
  <%= render partial: 'shared/user_lists' %>
<% end %>

<h3>Edit your Gear List</h3>

<%= render partial: 'form', locals: { method_name: 'put', url: list_path(params[:id]) } %>
