<h2>Create a Gear List</h2>

<%= render partial: 'form', locals: { 
                              method: 'post', 
                              url: lists_path, 
                              submit_text: 'Create Gear List' 
                            } %>
