<%= render partial: 'shared/list', locals: { list: @list } %>

<% if authorized? %>
  <div class='add-items-wrapper'>
    <a href='/lists/<%= params[:id] %>/items/new' class='btn btn-default add-items'>
      <span class='pull-left'>
        Add Item
      </span>
      <span class='pull-right'>
        <i class='fa fa-plus'></i>
      </span>
    </a>
  </div>
<% end %>
