<!-- Add a button for the user to click to initiate auth sequence -->
<div id="content">
  <button id="authorize-button" style="visibility: hidden">Authorize</button>
</div>

<p><%=  %></p>

<script type="text/javascript">

  var clientId = "<%= ENV['GOOGLE_CLIENT_ID'] %>";

  var apiKey = "<%= ENV['GOOGLE_API_KEY'] %>";

  var scopes = 'https://www.googleapis.com/auth/plus.me';

  function handleClientLoad() {
    // Step 2: Reference the API key
    gapi.client.setApiKey(apiKey);
    window.setTimeout(checkAuth,1);
  }

  function checkAuth() {
    gapi.auth.authorize({client_id: clientId, scope: scopes, immediate: true}, handleAuthResult);
  }

  function handleAuthResult(authResult) {
    var authorizeButton = document.getElementById('authorize-button');
    if (authResult && !authResult.error) {
      authorizeButton.style.visibility = 'hidden';
      makeApiCall();
    } else {
      authorizeButton.style.visibility = '';
      authorizeButton.onclick = handleAuthClick;
    }
  }

  function handleAuthClick(event) {
    // Step 3: get authorization to use private data
    gapi.auth.authorize({client_id: clientId, scope: scopes, immediate: false}, handleAuthResult);
    return false;
  }

  // Load the API and make an API call.  Display the results on the screen.
  function makeApiCall() {
    // Step 4: Load the Google+ API
    gapi.client.load('plus', 'v1').then(function() {
      // Step 5: Assemble the API request
      var request = gapi.client.plus.people.get({
        'userId': 'me'
      });
      // Step 6: Execute the API request
      request.then(function(resp) {
        var heading = document.createElement('h4');
        var image = document.createElement('img');
        image.src = resp.result.image.url;
        heading.appendChild(image);
        heading.appendChild(document.createTextNode(resp.result.displayName));
        document.getElementById('content').appendChild(heading);

        // make post request to backend here -- it will be synchronous
        // write talkToBackend function, in ajax success handler, do window redirect to '/'

        // capture id (uid), name
        // pass it to the back end in a post request, with google as provider
        // get backend user_id corresponding to that provider & uid
        // -> create_or_find user record
        // -> generate token to be associated with user record (with expiration - 1 day - leave off initial), make field in user model to store token
        // -> return token to front end in response body (json object)
      }, function(reason) {
        // trigger UI message again "Unable to log in. Please try again."
        console.log('Error: ' + reason.result.error.message);
      });
    });
  }
</script>

 <!-- Step 1: Load JavaScript client library -->
<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
