<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script type="text/javascript">
      var googleUser = {};

      var startApp = function() {
        gapi.load('auth2', function(){
          // Retrieve the singleton for the GoogleAuth library and set up the client.
          auth2 = gapi.auth2.init({
            client_id: "<%= ENV['GOOGLE_CLIENT_ID'] %>"
            // Request scopes in addition to 'profile' and 'email'
            // scope: 'additional_scope'
          });
          attachSignin(document.getElementById('customBtn'));
        });
      };

      function attachSignin(element) {
        console.log(element.id);
        auth2.attachClickHandler(element, {},
          function(googleUser) {
            var profile = googleUser.getBasicProfile();
            var userObject = {
              id: profile.getId(),
              name: profile.getName(),
              provider: "google_oauth2"
            };
            // pass it to the back end in a post request
            loginUser(userObject);
          }, function(error) {
            alert(JSON.stringify(error, undefined, 2));
          });
      };

      function loginUser(userDetails) {
        var url = 'http://localhost:3000/api/v1/login'
        $.ajax({
          url: url,
          type: 'POST',
          data: userDetails,
          success: function(data, textStatus, jqHXR) {
            processUserToken(data);
          }
        });
      };

      function processUserToken(data) {
        var url = '/login';
        $.ajax({
          url: url,
          type: 'POST',
          data: { token: data.token, userId: data.userId },
          success: function(data, textStatus, jqHXR) {
            window.location.replace("/");
          }
        });
      };
    </script>
  </head>
  <body>
    <div id="gSignInWrapper">
      <span class="label">Sign in with:</span>
      <div id="customBtn" class="customGPlusSignIn">
        <span class="icon"></span>
        <span class="buttonText">Google</span>
      </div>
    </div>
    <div id="name"></div>
    <script>startApp();</script>
  </body>
</html>
