<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script type="text/javascript">
      var googleUser = {};

      // const BASE_URI = 'http://localhost:3000/api/v1';
      // const BASE_URI = 'http://www.penguingearlist.com' + '/api/v1';
      // const BASE_URI = 'http://gearlist-app-prod.elasticbeanstalk.com' + '/api/v1';

      var railsEnv = '<%= Rails.env %>';
      
      if (railsEnv === 'production') {
        const BASE_URI = 'http://gearlist-app-prod.elasticbeanstalk.com' + '/api/v1';
      }
      else {
        const BASE_URI = 'http://localhost:3000/api/v1';
      }

      var startApp = function() {
        gapi.load('auth2', function(){
          // Retrieve the singleton for the GoogleAuth library and set up the client.
          auth2 = gapi.auth2.init({
            client_id: "<%= ENV['GOOGLE_CLIENT_ID'] %>"
            // Request scopes in addition to 'profile' and 'email'
            // scope: 'additional_scope'
          });
          attachSignin(document.getElementById('customBtn'));
        });
      };

      function attachSignin(element) {
        console.log(element.id);
        auth2.attachClickHandler(element, {},
          function(googleUser) {
            var profile = googleUser.getBasicProfile();
            var userObject = {
              id: profile.getId(),
              name: profile.getName(),
              provider: "google_oauth2"
            };
            // pass it to the back end in a post request
            loginUser(userObject);
          }, function(error) {
            alert(JSON.stringify(error, undefined, 2));
          });
      };

      function loginUser(userDetails) {
        var url = BASE_URI + '/login';
        console.log(url);
        $.ajax({
          url: url,
          type: 'POST',
          data: userDetails,
          success: function(data, textStatus, jqHXR) {
            processUserToken(data);
          }
        });
      };

      function processUserToken(data) {
        var url = '/login';
        $.ajax({
          url: url,
          type: 'POST',
          data: { token: data.token, userId: data.userId, userName: data.userName },
          success: function(data, textStatus, jqHXR) {
            window.location.replace("/");
          }
        });
      };
    </script>
  </head>
  <body>
    <div class='panel panel-default' id='login-panel'>
      <div id='login-btn-label'>
        <h2>Sign up or Log in with:</h2>
      </div>
      <div id='login-btn-wrapper'>
        <div id='customBtn' class='customGPlusSignIn'>
          <span class='icon'></span>
          <span class='buttonText'>Google</span>
        </div>
      </div>
    </div>
    <div id='name'></div>
    <script>startApp();</script>
  </body>
</html>
