<div class='list-group'>
  <% @user_lists.each do |list| %>
    <a href='/lists/<%= list['id'] %>' class='list-group-item'>
      <%= list['name'] %>
      <% if list['secret'] %>
        <%= render 'shared/right_lock' %>
      <% end %>
    </a>
  <% end %>
</div>
<div class='list-group'>
  <a href='/lists/new' class='list-group-item'>
    Create 
    <span class='pull-right'>
      <i class="fa fa-plus"></i>
    </span>
  </a>
</div>
