<div class="list-group">
  <% @user_lists.each do |list| %>
    <a href="/lists/<%= list["id"] %>" class="list-group-item">
      <%= list["name"] %>
      <span class="pull-right">
        <% if list["secret"] %>
          <i class="fa fa-lock"></i>
        <% end %>
      </span>
    </a>
  <% end %>
</div>
