<h4>My Lists:</h4>

<div class='list-group'>
  <% @user_lists.each do |list| %>
    <a href='/lists/<%= list['id'] %>' class='list-group-item'>
      <%= list['name'] %>
      <% if list['secret'] %>
        <%= render 'shared/right_lock' %>
      <% end %>
    </a>
  <% end %>
</div>
