<h3>Edit this Piece of Gear</h3>

<%= render partial: 'form', locals: { 
                              method: 'put', 
                              url: list_item_path(list_id: params[:list_id], id: params[:id]),
                              submit_text: 'Update Item' } %>
