<% content_for :sidebar do %>
  <%= link_to "Create Gear List", new_list_path, class: 'btn btn-default' %>
  <%= render partial: 'shared/user_lists' %>
<% end %>

<h1>Add a Piece of Gear</h1>

<%= render partial: 'form', locals: {
                              url: list_items_path(params[:list_id]),
                              method: 'post',
                              submit_text: 'Add Item'
                            } %>
