<h2>Add a Piece of Gear</h2>

<%= render partial: 'form', locals: {
                              url: list_items_path(params[:list_id]),
                              method: 'post',
                              submit_text: 'Add Item'
                            } %>
