<h2>Select an item:</h2>

<%= form_tag(new_list_item_path(params[:list_id]), method: :get, class: 'form') do %>

<%= submit_tag 'Continue with selected item' %>
<% end %>

<!-- cancel button -->
<%= link_to 'Cancel', new_list_item_path(params[:list_id]), class: 'btn btn-danger' %>
