/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

body {
  padding: 12rem 2rem 0 2rem;

  background-image: url('IMG_0683_hitchcock_lake.jpg');
  background-size: 100%;
  background-color: rgba(210,238,255, 1);
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
}

#feed {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3rem;
}

#sidebar {
  background-color: rgba(210,238,255, 0.9);
  padding: 3rem;
  position: fixed;
  height: 100%;
  border-color: white;
  right: 0;
}

#login-panel {
  margin-top: 24rem;
  width: 36rem;
  padding: 3rem 0;
}

#gSignInWrapper {
  width: 190px;
  height: 62px;
  margin: 50px auto;
}

#login-btn-label {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  // margin-bottom: 2rem;
}

// .label { 
//   color: black;
// }

.navbar {
  background-color: rgba(255, 255, 255, 1);
  padding: 2rem;
  height: 12rem;
  border-color: white;
}

.btn.add-items {
  width: 20rem;
  margin: 0 auto;
}

div.add-items {
  margin: 0 auto;
}

div.gear-list {
  margin: 3rem auto;
}

div.gear-list:first-child {
  margin-top: 0;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 72px;
}
