<div class='navbar navbar-default navbar-fixed-top'>
  <div class='container'>
    <h1>
      <%= link_to 'Penguin Gear Lists', root_path %> 
      <small>Create, share, hike</small>

    </h1>
      <% if session[:user_id] %>
        <span class='pull-right'>
          <p>HYOH, <%= session[:user_name] %>.</p>
          <%= link_to 'Log out', '/logout', method: 'delete', class: 'btn btn-default', onclick: 'signOut();' %>  
        </span>
      <% end %>
  </div>
</div>
